# 2. Pandas: Exploratory Data Analysis (EDA)

In [ ]:
#@title Do the necessary imports
import pandas as pd

In [ ]:
#@title Read the data (from a file)
# read the csv into pandas dataframe
df = pd.read_csv('titanic.csv')

display(df)

FileNotFoundError: [Errno 2] No such file or directory: 'titanic.csv'

In [ ]:
#@title Read the data (from a github URL)
# https://github.com/datasciencedojo/datasets/blob/master/titanic.csv

raw_data = 'https://raw.githubusercontent.com/datasciencedojo/datasets/refs/heads/master/titanic.csv'


# read the csv into pandas dataframe
df = pd.read_csv(raw_data)

# display the dataframe
display(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#@title Getting the data type of the entire data
print("1. Data type of the data we read is: ")
print(type(df))

1. Data type of the data we read is:
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#@title Getting the top 5 values
print("\n\n2. Here are your top 5 rows; You can also give an int to head()")
display(df.head())

2. Here are your top 5 rows; You can also give an int to head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#@title Getting the top N values
print("\n\n2. Here are your top N rows; You can also give an int to head()")
display(df.head(9))

2. Here are your top N rows; You can also give an int to head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S

In [ ]:
#@title Getting the bottom 5 values
print("\n\n3. Here are your bottom 5 rows; You can also give an int to tail() ")
display(df.tail())

3. Here are your bottom 5 rows; You can also give an int to tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
#@title Getting the bottom N values
print("\n\n3. Here are your bottom N rows; You can also give an int to tail() ")
display(df.tail(3))

3. Here are your bottom N rows; You can also give an int to tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [ ]:
#@title Basic queries:  shape, size and len

# Sample DataFrame
# data = {
#     'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
#     'Age': [25, 30, 35, 40, 45],
#     'Salary': [50000, 60000, 75000, 100000, 120000]
# }
# df = pd.DataFrame(data)

display(df)

# 1. Shape of the DataFrame (rows, columns)
print("Shape of the DataFrame (rows, columns):", df.shape)

# 2. Total size of the DataFrame (number of elements)
print("Total size of the DataFrame (number of elements):", df.size)

# 3. Number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))
print("Number of rows in the DataFrame:", df.shape[0])
print("Number of columns in the DataFrame:", df.shape[1])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Shape of the DataFrame (rows, columns): (891, 12)
Total size of the DataFrame (number of elements): 10692
Number of rows in the DataFrame: 891
Number of rows in the DataFrame: 891
Number of columns in the DataFrame: 12

In [ ]:
#@title Count the rows (method 1)
# Same as "Finding the length of the data frame"
# Same as "how many rows are there in the data frame"
print("\n\n4. Here is the length (number of rows) of the dataframe ")
count = len(df)
print(count)

4. Here is the length (number of rows) of the dataframe
891

In [ ]:
#@title Count the rows (method 2)
# Same as "Finding the length of the data frame"
# Same as "how many rows are there in the data frame"
print("\n\n4. Here is the length (number of rows) of the dataframe ")
count = df.shape[0]
print(count)

4. Here is the length (number of rows) of the dataframe
891

In [ ]:
#@title Count the columns (method 1)
# Same as "Finding number of rows"
# Same as "how many rows are there in the data frame"
print("\n\n4. Count of columns in the dataframe: ")
count = len(df.columns)
print(count)

4. Count of columns in the dataframe:
12

In [ ]:
#@title Count the columns (method 2)
# Same as "Finding number of rows"
# Same as "how many rows are there in the data frame"
print("\n\n4. Count of columns in the dataframe: ")
count = df.shape[1]
print(count)

4. Count of columns in the dataframe:
12

In [ ]:
#@title finding the columns
print("\n\n5. Here are the column names of the dataframe; and the default datatype (Index) of the column list")
x = df.columns
print("Data type of df.columns: ", type(x))
print("Printing df.columns: ", x)

5. Here are the column names of the dataframe; and the default datatype (Index) of the column list
Data type of df.columns:  <class 'pandas.core.indexes.base.Index'>
Printing df.columns:  Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
0 PassengerId
1 Survived
2 Pclass
3 Name
4 Sex
5 Age
6 SibSp
7 Parch
8 Ticket
9 Fare
10 Cabin
11 Embarked

In [ ]:
#@title Finding the columns (as a list)
print("\n\n6. Here are the column names of the dataframe; and the datatype is changed to list type")
x= list(df.columns)
print("Data type of df.columns: ", type(x))
print("Printing df.columns: ", x)

print("Count of columns: ", len(x))

column_list = list(df.columns)
print(column_list)

for index, elem in enumerate(column_list):
  print(index, elem)

6. Here are the column names of the dataframe; and the datatype is changed to list type
Data type of df.columns:  <class 'list'>
Printing df.columns:  ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
COunt of columns:  12
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
0 PassengerId
1 Survived
2 Pclass
3 Name
4 Sex
5 Age
6 SibSp
7 Parch
8 Ticket
9 Fare
10 Cabin
11 Embarked

In [ ]:
#@title Finding the row (index) names
# TBD: How can we change the names?
print("\n\n7. Here are the row names of the dataframe; and the datatype (RangeIndex) of the row list.")
x = df.index
print(type(x))
print(x)

7. Here are the row names of the dataframe; and the datatype (RangeIndex) of the row list.
<class 'pandas.core.indexes.range.RangeIndex'>
RangeIndex(start=0, stop=891, step=1)

In [ ]:
#@title Finding the row (index) names as a list
print("\n\n8. Here are the row names of the dataframe; and the datatype is changed to list type")
x= list(x)
print(x)
print(type(x))

8. Here are the row names of the dataframe; and the datatype is changed to list type
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]
<class 'list'>

In [ ]:
#@title Getting the data types of the dataframe
print("\n\n10. data types in the data frame")
print(df.dtypes)

10. data types in the data frame
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
#@title Finding the missing value counts
# NaN = Not a Number = It is Empty = Missing Value
nan_in_df = df.isnull().values.any()
print("\n\n12. Are there any missing values in the dataframe", nan_in_df)

#print(df.isnull())
df.isnull().sum()

12. Are there any missing values in the dataframe True

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#@title Getting the info() of the dataframe
print("\n\n9 info summary about the data frame, this also lists the non-null count for each column")
display(df.info())

9 info summary about the data frame, this also lists the non-null count for each column
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

None

In [ ]:
#@title Basic Statistics (works only for the numerical columns)

# Sample DataFrame
# data = {
#     'Age': [25, 30, 35, 40, 45],
#     'Salary': [50000, 60000, 75000, 100000, 120000],
#     'Experience': [2, 4, 6, 8, 10]
# }
# df = pd.DataFrame(data)

# 1. Mean
print("Mean:\n", df.mean(), "\n")

# 2. Median
print("Median:\n", df.median(), "\n")

# 3. Mode
print("Mode:\n", df.mode(), "\n")

# 4. Standard Deviation
print("Standard Deviation:\n", df.std(), "\n")

# 5. Variance
print("Variance:\n", df.var(), "\n")

# 6. Minimum
print("Minimum:\n", df.min(), "\n")

# 7. Maximum
print("Maximum:\n", df.max(), "\n")

Mean:
 Age              35.0
Salary        81000.0
Experience        6.0
dtype: float64

Median:
 Age              35.0
Salary        75000.0
Experience        6.0
dtype: float64

Mode:
    Age  Salary  Experience
0   25   50000           2
1   30   60000           4
2   35   75000           6
3   40  100000           8
4   45  120000          10

Standard Deviation:
 Age               7.905694
Salary        28809.720582
Experience        3.162278
dtype: float64

Variance:
 Age                  62.5
Salary        830000000.0
Experience           10.0
dtype: float64

Minimum:
 Age              25
Salary        50000
Experience        2
dtype: int64

Maximum:
 Age               45
Salary        120000
Experience        10
dtype: int64

In [ ]:
#@title Descriptive Statistics for Numerical Columns
display(df)
df_stats = df.describe()
print("\n\n13. Descriptive Statistics of the dataframe (only numerical columns)\n", df_stats)
display('\n13. The type of df.describe(): ', type(df_stats))

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

13. Descriptive Statistics of the dataframe (only numerical columns)
        PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

'\n13. The type of df.describe(): '

pandas.core.frame.DataFrame

In [ ]:
#@title Descriptive Statistics for Categorical Columns
df_stats = df.describe(include=['object', 'category'])
print("\n\n13. Descriptive Statistics of the dataframe (only categorical columns)\n", df_stats)
display('\n13. The type of df.describe(): ', type(df_stats))

13. Descriptive Statistics of the dataframe (only categorical columns)
                            Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

'\n13. The type of df.describe(): '

pandas.core.frame.DataFrame