# Accessing Data in DataFrame
- A Row
- A Set of Rows
- A Column
- A Set of Columns
- A Cell (Row, Column intersection)

- loc vs iloc

- Traversal of rows using several methods
-- index
-- loc
-- iloc
-- iterrows
-- itertuples

- Traversal of columns using several methods
-- items (returns a tuple of column name and column values)
-- key (where column name becomes the key)

In [ ]:
#@title Do th imports
import pandas as pd
import numpy as np

In [ ]:
#@title Load the dataframe
# https://github.com/datasciencedojo/datasets/blob/master/titanic.csv

# read the csv into pandas dataframe
df = pd.read_csv('titanic.csv')

display(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#@title Getting the list of the columns
df.columns
print(type(df.columns))
columns_list = list(df.columns)
print(columns_list)

<class 'pandas.core.indexes.base.Index'>
['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [ ]:
#@title Getting the list of the rows
df.index
print(type(df.index))
rows_list = list(df.index)
print(rows_list)

<class 'pandas.core.indexes.range.RangeIndex'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]

# Accessing Column(s), Row(s), Cell

In [ ]:
#@title Getting a specific column using column name as key (Method 1)
name_col_data = df['Name']
print(type(name_col_data))
display(name_col_data)

<class 'pandas.core.series.Series'>

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [ ]:
#@title Getting a specific column using column name as attribute (Method 2)
name_col_data = df.Name
print(type(name_col_data))
display(name_col_data)

<class 'pandas.core.series.Series'>

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [ ]:
#@title Which method of accessing the columns would be best?
df["passenger id"] = df["PassengerId"]
display(df.head())

# index or key notation
y = df["passenger id"]
display(y)

# dot notation
# x = df."passenger id"
# print(x)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5

0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: passenger id, Length: 891, dtype: int64

In [ ]:
#@title Accessing multiple columns
# =       Slicing the data vertically
display(df.head())
name_age_col_data = df[["Name", "Age"]]
print(type(name_age_col_data))
display(name_age_col_data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5

<class 'pandas.core.frame.DataFrame'>

                                                  Name   Age
0                              Braund, Mr. Owen Harris  22.0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0
2                               Heikkinen, Miss. Laina  26.0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0
4                             Allen, Mr. William Henry  35.0
..                                                 ...   ...
886                              Montvila, Rev. Juozas  27.0
887                       Graham, Miss. Margaret Edith  19.0
888           Johnston, Miss. Catherine Helen "Carrie"   NaN
889                              Behr, Mr. Karl Howell  26.0
890                                Dooley, Mr. Patrick  32.0

[891 rows x 2 columns]

In [ ]:
#@title Slice the data vertically (Declaring the column list as a variable)
selected_columns = ["Name", "Age", "Ticket"]
name_age_col_data = df[selected_columns]
display(name_age_col_data.head())

                                                Name   Age            Ticket
0                            Braund, Mr. Owen Harris  22.0         A/5 21171
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0          PC 17599
2                             Heikkinen, Miss. Laina  26.0  STON/O2. 3101282
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0            113803
4                           Allen, Mr. William Henry  35.0            373450

In [ ]:
#@title Slice the data horizontally: Using iloc (Index-based slicing):

# Slice the data horizontally (e.g., rows 0 to 4)
sliced_data_df = df.iloc[10:20]  # Adjust the range as needed
sliced_data_df = df.iloc[10:20:2]  # Adjust the range as needed
print("Data Type : ", type(sliced_data_df))
display(sliced_data_df)

Data Type :  <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,11
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,13
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,15
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,17
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,19

In [ ]:
#@title Slice the data horizontally: Using loc (Label-based slicing):

start_label = 15
end_label = 30
# Assuming your DataFrame has an index with meaningful labels
sliced_data_df = df.loc[start_label:end_label]
print("Data Type : ", type(sliced_data_df))
display(sliced_data_df)

Data Type :  <class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,16
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,17
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,18
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,19
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,20
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,21
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,22
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,23
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,24
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,25
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,26
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,27
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,28
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,29
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,30
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,31

In [ ]:
#@title Select a single row (index location)
display(df.head())
#iloc = index location
row_data = df.iloc[3]
print(type(row_data))
print("Name :", row_data["Name"])
print("Age :", row_data["Age"])
print("Ticket :", row_data["Ticket"])
display(row_data)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5

<class 'pandas.core.series.Series'>
Name : Futrelle, Mrs. Jacques Heath (Lily May Peel)
Age : 35.0
Ticket : 113803

PassengerId                                                4
Survived                                                   1
Pclass                                                     1
Name            Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                   female
Age                                                     35.0
SibSp                                                      1
Parch                                                      0
Ticket                                                113803
Fare                                                    53.1
Cabin                                                   C123
Embarked                                                   S
passenger id                                               4
Name: 3, dtype: object

In [ ]:
#@title Selecting multiple rows (a range of indexes)
display(df.head(10))
#iloc = index location
row_data_3_to_6 = df.iloc[3:6]
print(type(row_data_3_to_6))
display(row_data_3_to_6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,6
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,8
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,9
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,10

<class 'pandas.core.frame.DataFrame'>

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,6

In [ ]:
#@title Selecting multiple rows (a range of indexes with step)
display(df.head(10))
#iloc = index location
row_data_0_11_2 = df.iloc[0:11:2]
display(row_data_0_11_2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,6
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,8
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,9
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,10

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,9
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,11

In [ ]:
#@title Selecting a single cell (df.loc)

# what is the ticket number for the row 26?
# single_cell = df.loc[row_label, column_label]
ticket_number = df.loc[26, "Ticket"]
print(type(ticket_number))
print(ticket_number)

name = df.loc[26, "Name"]
print(name)

name_row = df.iloc[26]
name = name_row["Name"]
print(name)

<class 'str'>
2631
Emir, Mr. Farred Chehab
Emir, Mr. Farred Chehab

In [ ]:
#@title Accessing the data using at or iat
# Example: Accessing a single value at row 0, column 'Name'
display(df.head())
name1 = df.at[0, 'Name']
# Example: Accessing a single value using integer-based indexing
name2 = df.iat[0, 3]

print("Label based accessing: ", name1)
print("Index based accessing: ", name2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5

Label based accessing:  Braund, Mr. Owen Harris
Index based accessing:  Braund, Mr. Owen Harris

In [ ]:
#@title Selecting Specific Rows and Columns
# Example: Rows 5 to 10 and columns 'Name' and 'Age'
df.loc[5:10, ['Name', 'Age']]

                                                 Name   Age
5                                    Moran, Mr. James   NaN
6                             McCarthy, Mr. Timothy J  54.0
7                      Palsson, Master. Gosta Leonard   2.0
8   Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  27.0
9                 Nasser, Mrs. Nicholas (Adele Achem)  14.0
10                    Sandstrom, Miss. Marguerite Rut   4.0

# loc vs iloc

In [ ]:
#@title Differences between loc vs iloc  (aka index location)

# Advantages and disadvantages
print("loc works well with meaninful lables and complex filtering")
print("loc does not work without labels")

print("1. Using loc to access data")
display(df.loc[1, "Name"])

# unlike range, loc function is grabbing the stopping index also
display(df.loc[0:2])

print("\n\n 2. Using iloc to access data")
# Advantage and disadvantage
print("iloc works well when labels are unknown or irrelevant")
print("You need to know exact index of rows and columns")
display(df.iloc[1, 3])

# iloc function honors the concept of range and does not grab the last index
display(df.iloc[0:2])


# loc[][] vs loc[a, b]
print("\n\nUsing loc[][] can be less effective and may lead to chained assignment error.")
print("Using loc[a, b] is more efficient and avoids errors. Use this method whenever possible.")
df[1:3]['Age'] = 5

loc works well with meaninful lables and complex filtering
loc does not work without labels
1. Using loc to access data

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3

 2. Using iloc to access data
iloc works well when labels are unknown or irrelevant
You need to know exact index of rows and columns

'Cumings, Mrs. John Bradley (Florence Briggs Thayer)'

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2

Using loc[][] can be less effective and may lead to chained assignment error.
Using loc[a, b] is more efficient and avoids errors. Use this method whenever possible.

<ipython-input-131-3d9b185eacc5>:26: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df[1:3]['Age'] = 5
<ipython-input-131-3d9b185eacc5>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[1:3]['Age'] = 5

#Traversing the dataframe (brute-force)

In [ ]:
#@title Traversing DataFrame rows

print("=====================\n")
print("\n\n DF Traversals: Row by Row")
print("Each ROW = Panda.Series Object")
print("=====================\n")

print("\n Remove the break to see the traversal of all rows")
print("\n\n1. DF Traversal: index method")
for index in df.index:  # for i in range(len(df)): will also work
    row_data = df.loc[index]
    # print("Whole Row = \n",row_data)
    # print("Row Type = ", type(row_data))
    name = df['Name'][index]  # Option 1
    name = df.loc[index, 'Name']  # Option 2
    name = df.iloc[index, 3] # Option 3

    age = df['Age'][index]
    age = df.loc[index, 'Age']

    ticket = df['Ticket'] [index]
    ticket = df.loc[index, 'Ticket']

    print(f"Index = {index} Name = {name} Age = {age} Ticket = {ticket}")

=====================



 DF Traversals: Row by Row
Each ROW = Panda.Series Object
=====================


 Remove the break to see the traversal of all rows


1. DF Traversal: index method
Index = 0 Name = Braund, Mr. Owen Harris Age = 22.0 Ticket = A/5 21171
Index = 1 Name = Cumings, Mrs. John Bradley (Florence Briggs Thayer) Age = 38.0 Ticket = PC 17599
Index = 2 Name = Heikkinen, Miss. Laina Age = 26.0 Ticket = STON/O2. 3101282
Index = 3 Name = Futrelle, Mrs. Jacques Heath (Lily May Peel) Age = 35.0 Ticket = 113803
Index = 4 Name = Allen, Mr. William Henry Age = 35.0 Ticket = 373450
Index = 5 Name = Moran, Mr. James Age = nan Ticket = 330877
Index = 6 Name = McCarthy, Mr. Timothy J Age = 54.0 Ticket = 17463
Index = 7 Name = Palsson, Master. Gosta Leonard Age = 2.0 Ticket = 349909
Index = 8 Name = Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg) Age = 27.0 Ticket = 347742
Index = 9 Name = Nasser, Mrs. Nicholas (Adele Achem) Age = 14.0 Ticket = 237736
Index = 10 Name = Sandstrom, Miss. Marguerite Rut Age = 4.0 Ticket = PP 9549
Index = 11 Name = Bonnell, Miss. Elizabeth Age = 58.0 Ticket = 113783
Index = 12 Name = Saundercock, Mr. William Henry Age = 20.0 Ticket = A/5. 2151
Index = 13 Name = Andersson, Mr. Anders Johan Age = 39.0 Ticket = 347082
Index = 14 Name = Vestrom, Miss. Hulda Amanda Adolfina Age = 14.0 Ticket = 350406
Index = 15 Name = Hewlett, Mrs. (Mary D Kingcome)  Age = 55.0 Ticket = 248706
Index = 16 Name = Rice, Master. Eugene Age = 2.0 Ticket = 382652
Index = 17 Name = Williams, Mr. Charles Eugene Age = nan Ticket = 244373
Index = 18 Name = Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele) Age = 31.0 Ticket = 345763
Index = 19 Name = Masselmani, Mrs. Fatima Age = nan Ticket = 2649
Index = 20 Name = Fynney, Mr. Joseph J Age = 35.0 Ticket = 239865
Index = 21 Name = Beesley, Mr. Lawrence Age = 34.0 Ticket = 248698
Index = 22 Name = McGowan, Miss. Anna "Annie" Age = 15.0 Ticket = 330923
Index = 23 Name = Sloper, Mr. William Thompson Age = 28.0 Ticket = 113788
Index = 24 Name = Palsson, Miss. Torborg Danira Age = 8.0 Ticket = 349909
Index = 25 Name = Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson) Age = 38.0 Ticket = 347077
Index = 26 Name = Emir, Mr. Farred Chehab Age = nan Ticket = 2631
Index = 27 Name = Fortune, Mr. Charles Alexander Age = 19.0 Ticket = 19950
Index = 28 Name = O'Dwyer, Miss. Ellen "Nellie" Age = nan Ticket = 330959
Index = 29 Name = Todoroff, Mr. Lalio Age = nan Ticket = 349216
Index = 30 Name = Uruchurtu, Don. Manuel E Age = 40.0 Ticket = PC 17601
Index = 31 Name = Spencer, Mrs. William Augustus (Marie Eugenie) Age = nan Ticket = PC 17569
Index = 32 Name = Glynn, Miss. Mary Agatha Age = nan Ticket = 335677
Index = 33 Name = Wheadon, Mr. Edward H Age = 66.0 Ticket = C.A. 24579
Index = 34 Name = Meyer, Mr. Edgar Joseph Age = 28.0 Ticket = PC 17604
Index = 35 Name = Holverson, Mr. Alexander Oskar Age = 42.0 Ticket = 113789
Index = 36 Name = Mamee, Mr. Hanna Age = nan Ticket = 2677
Index = 37 Name = Cann, Mr. Ernest Charles Age = 21.0 Ticket = A./5. 2152
Index = 38 Name = Vander Planke, Miss. Augusta Maria Age = 18.0 Ticket = 345764
Index = 39 Name = Nicola-Yarred, Miss. Jamila Age = 14.0 Ticket = 2651
Index = 40 Name = Ahlin, Mrs. Johan (Johanna Persdotter Larsson) Age = 40.0 Ticket = 7546
Index = 41 Name = Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott) Age = 27.0 Ticket = 11668
Index = 42 Name = Kraeff, Mr. Theodor Age = nan Ticket = 349253
Index = 43 Name = Laroche, Miss. Simonne Marie Anne Andree Age = 3.0 Ticket = SC/Paris 2123
Index = 44 Name = Devaney, Miss. Margaret Delia Age = 19.0 Ticket = 330958
Index = 45 Name = Rogers, Mr. William John Age = nan Ticket = S.C./A.4. 23567
Index = 46 Name = Lennon, Mr. Denis Age = nan Ticket = 370371
Index = 47 Name = O'Driscoll, Miss. Bridget Age = nan Ticket = 14311
Index = 48 Name = Samaan, Mr. Youssef Age = nan Ticket = 2662
Index = 49 Name = Arnold-Franchi, Mrs. Josef (Josefine Franchi) Age = 18.0 Ticket = 349237
Index = 50 Name = Panula, Master. Juha Niilo Age = 7.0 Ticket = 3101295
Index = 51 Name = Nosworthy, Mr. Richard Cater Age = 21.0 Ticket = A/4. 39886
Index = 52 Name = Harper, Mrs. Henry Sleeper (Myna Haxtun) Age = 49.0 Ticket = PC 17572
Index = 53 Name = Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson) Age = 29.0 Ticket = 2926
Index = 54 Name = Ostby, Mr. Engelhart Cornelius Age = 65.0 Ticket = 113509
Index = 55 Name = Woolner, Mr. Hugh Age = nan Ticket = 19947
Index = 56 Name = Rugg, Miss. Emily Age = 21.0 Ticket = C.A. 31026
Index = 57 Name = Novel, Mr. Mansouer Age = 28.5 Ticket = 2697
Index = 58 Name = West, Miss. Constance Mirium Age = 5.0 Ticket = C.A. 34651
Index = 59 Name = Goodwin, Master. William Frederick Age = 11.0 Ticket = CA 2144
Index = 60 Name = Sirayanian, Mr. Orsen Age = 22.0 Ticket = 2669
Index = 61 Name = Icard, Miss. Amelie Age = 38.0 Ticket = 113572
Index = 62 Name = Harris, Mr. Henry Birkhardt Age = 45.0 Ticket = 36973
Index = 63 Name = Skoog, Master. Harald Age = 4.0 Ticket = 347088
Index = 64 Name = Stewart, Mr. Albert A Age = nan Ticket = PC 17605
Index = 65 Name = Moubarek, Master. Gerios Age = nan Ticket = 2661
Index = 66 Name = Nye, Mrs. (Elizabeth Ramell) Age = 29.0 Ticket = C.A. 29395
Index = 67 Name = Crease, Mr. Ernest James Age = 19.0 Ticket = S.P. 3464
Index = 68 Name = Andersson, Miss. Erna Alexandra Age = 17.0 Ticket = 3101281
Index = 69 Name = Kink, Mr. Vincenz Age = 26.0 Ticket = 315151
Index = 70 Name = Jenkin, Mr. Stephen Curnow Age = 32.0 Ticket = C.A. 33111
Index = 71 Name = Goodwin, Miss. Lillian Amy Age = 16.0 Ticket = CA 2144
Index = 72 Name = Hood, Mr. Ambrose Jr Age = 21.0 Ticket = S.O.C. 14879
Index = 73 Name = Chronopoulos, Mr. Apostolos Age = 26.0 Ticket = 2680
Index = 74 Name = Bing, Mr. Lee Age = 32.0 Ticket = 1601
Index = 75 Name = Moen, Mr. Sigurd Hansen Age = 25.0 Ticket = 348123
Index = 76 Name = Staneff, Mr. Ivan Age = nan Ticket = 349208
Index = 77 Name = Moutal, Mr. Rahamin Haim Age = nan Ticket = 374746
Index = 78 Name = Caldwell, Master. Alden Gates Age = 0.83 Ticket = 248738
Index = 79 Name = Dowdell, Miss. Elizabeth Age = 30.0 Ticket = 364516
Index = 80 Name = Waelens, Mr. Achille Age = 22.0 Ticket = 345767
Index = 81 Name = Sheerlinck, Mr. Jan Baptist Age = 29.0 Ticket = 345779
Index = 82 Name = McDermott, Miss. Brigdet Delia Age = nan Ticket = 330932
Index = 83 Name = Carrau, Mr. Francisco M Age = 28.0 Ticket = 113059
Index = 84 Name = Ilett, Miss. Bertha Age = 17.0 Ticket = SO/C 14885
Index = 85 Name = Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson) Age = 33.0 Ticket = 3101278
Index = 86 Name = Ford, Mr. William Neal Age = 16.0 Ticket = W./C. 6608
Index = 87 Name = Slocovski, Mr. Selman Francis Age = nan Ticket = SOTON/OQ 392086
Index = 88 Name = Fortune, Miss. Mabel Helen Age = 23.0 Ticket = 19950
Index = 89 Name = Celotti, Mr. Francesco Age = 24.0 Ticket = 343275
Index = 90 Name = Christmann, Mr. Emil Age = 29.0 Ticket = 343276
Index = 91 Name = Andreasson, Mr. Paul Edvin Age = 20.0 Ticket = 347466
Index = 92 Name = Chaffee, Mr. Herbert Fuller Age = 46.0 Ticket = W.E.P. 5734
Index = 93 Name = Dean, Mr. Bertram Frank Age = 26.0 Ticket = C.A. 2315
Index = 94 Name = Coxon, Mr. Daniel Age = 59.0 Ticket = 364500
Index = 95 Name = Shorney, Mr. Charles Joseph Age = nan Ticket = 374910
Index = 96 Name = Goldschmidt, Mr. George B Age = 71.0 Ticket = PC 17754
Index = 97 Name = Greenfield, Mr. William Bertram Age = 23.0 Ticket = PC 17759
Index = 98 Name = Doling, Mrs. John T (Ada Julia Bone) Age = 34.0 Ticket = 231919
Index = 99 Name = Kantor, Mr. Sinai Age = 34.0 Ticket = 244367
Index = 100 Name = Petranec, Miss. Matilda Age = 28.0 Ticket = 349245
Index = 101 Name = Petroff, Mr. Pastcho ("Pentcho") Age = nan Ticket = 349215
Index = 102 Name = White, Mr. Richard Frasar Age = 21.0 Ticket = 35281
Index = 103 Name = Johansson, Mr. Gustaf Joel Age = 33.0 Ticket = 7540
Index = 104 Name = Gustafsson, Mr. Anders Vilhelm Age = 37.0 Ticket = 3101276
Index = 105 Name = Mionoff, Mr. Stoytcho Age = 28.0 Ticket = 349207
Index = 106 Name = Salkjelsvik, Miss. Anna Kristine Age = 21.0 Ticket = 343120
Index = 107 Name = Moss, Mr. Albert Johan Age = nan Ticket = 312991
Index = 108 Name = Rekic, Mr. Tido Age = 38.0 Ticket = 349249
Index = 109 Name = Moran, Miss. Bertha Age = nan Ticket = 371110
Index = 110 Name = Porter, Mr. Walter Chamberlain Age = 47.0 Ticket = 110465
Index = 111 Name = Zabour, Miss. Hileni Age = 14.5 Ticket = 2665
Index = 112 Name = Barton, Mr. David John Age = 22.0 Ticket = 324669
Index = 113 Name = Jussila, Miss. Katriina Age = 20.0 Ticket = 4136
Index = 114 Name = Attalah, Miss. Malake Age = 17.0 Ticket = 2627
Index = 115 Name = Pekoniemi, Mr. Edvard Age = 21.0 Ticket = STON/O 2. 3101294
Index = 116 Name = Connors, Mr. Patrick Age = 70.5 Ticket = 370369
Index = 117 Name = Turpin, Mr. William John Robert Age = 29.0 Ticket = 11668
Index = 118 Name = Baxter, Mr. Quigg Edmond Age = 24.0 Ticket = PC 17558
Index = 119 Name = Andersson, Miss. Ellis Anna Maria Age = 2.0 Ticket = 347082
Index = 120 Name = Hickman, Mr. Stanley George Age = 21.0 Ticket = S.O.C. 14879
Index = 121 Name = Moore, Mr. Leonard Charles Age = nan Ticket = A4. 54510
Index = 122 Name = Nasser, Mr. Nicholas Age = 32.5 Ticket = 237736
Index = 123 Name = Webber, Miss. Susan Age = 32.5 Ticket = 27267
Index = 124 Name = White, Mr. Percival Wayland Age = 54.0 Ticket = 35281
Index = 125 Name = Nicola-Yarred, Master. Elias Age = 12.0 Ticket = 2651
Index = 126 Name = McMahon, Mr. Martin Age = nan Ticket = 370372
Index = 127 Name = Madsen, Mr. Fridtjof Arne Age = 24.0 Ticket = C 17369
Index = 128 Name = Peter, Miss. Anna Age = nan Ticket = 2668
Index = 129 Name = Ekstrom, Mr. Johan Age = 45.0 Ticket = 347061
Index = 130 Name = Drazenoic, Mr. Jozef Age = 33.0 Ticket = 349241
Index = 131 Name = Coelho, Mr. Domingos Fernandeo Age = 20.0 Ticket = SOTON/O.Q. 3101307
Index = 132 Name = Robins, Mrs. Alexander A (Grace Charity Laury) Age = 47.0 Ticket = A/5. 3337
Index = 133 Name = Weisz, Mrs. Leopold (Mathilde Francoise Pede) Age = 29.0 Ticket = 228414
Index = 134 Name = Sobey, Mr. Samuel James Hayden Age = 25.0 Ticket = C.A. 29178
Index = 135 Name = Richard, Mr. Emile Age = 23.0 Ticket = SC/PARIS 2133
Index = 136 Name = Newsom, Miss. Helen Monypeny Age = 19.0 Ticket = 11752
Index = 137 Name = Futrelle, Mr. Jacques Heath Age = 37.0 Ticket = 113803
Index = 138 Name = Osen, Mr. Olaf Elon Age = 16.0 Ticket = 7534
Index = 139 Name = Giglio, Mr. Victor Age = 24.0 Ticket = PC 17593
Index = 140 Name = Boulos, Mrs. Joseph (Sultana) Age = nan Ticket = 2678
Index = 141 Name = Nysten, Miss. Anna Sofia Age = 22.0 Ticket = 347081
Index = 142 Name = Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck) Age = 24.0 Ticket = STON/O2. 3101279
Index = 143 Name = Burke, Mr. Jeremiah Age = 19.0 Ticket = 365222
Index = 144 Name = Andrew, Mr. Edgardo Samuel Age = 18.0 Ticket = 231945
Index = 145 Name = Nicholls, Mr. Joseph Charles Age = 19.0 Ticket = C.A. 33112
Index = 146 Name = Andersson, Mr. August Edvard ("Wennerstrom") Age = 27.0 Ticket = 350043
Index = 147 Name = Ford, Miss. Robina Maggie "Ruby" Age = 9.0 Ticket = W./C. 6608
Index = 148 Name = Navratil, Mr. Michel ("Louis M Hoffman") Age = 36.5 Ticket = 230080
Index = 149 Name = Byles, Rev. Thomas Roussel Davids Age = 42.0 Ticket = 244310
Index = 150 Name = Bateman, Rev. Robert James Age = 51.0 Ticket = S.O.P. 1166
Index = 151 Name = Pears, Mrs. Thomas (Edith Wearne) Age = 22.0 Ticket = 113776
Index = 152 Name = Meo, Mr. Alfonzo Age = 55.5 Ticket = A.5. 11206
Index = 153 Name = van Billiard, Mr. Austin Blyler Age = 40.5 Ticket = A/5. 851
Index = 154 Name = Olsen, Mr. Ole Martin Age = nan Ticket = Fa 265302
Index = 155 Name = Williams, Mr. Charles Duane Age = 51.0 Ticket = PC 17597
Index = 156 Name = Gilnagh, Miss. Katherine "Katie" Age = 16.0 Ticket = 35851
Index = 157 Name = Corn, Mr. Harry Age = 30.0 Ticket = SOTON/OQ 392090
Index = 158 Name = Smiljanic, Mr. Mile Age = nan Ticket = 315037
Index = 159 Name = Sage, Master. Thomas Henry Age = nan Ticket = CA. 2343
Index = 160 Name = Cribb, Mr. John Hatfield Age = 44.0 Ticket = 371362
Index = 161 Name = Watt, Mrs. James (Elizabeth "Bessie" Inglis Milne) Age = 40.0 Ticket = C.A. 33595
Index = 162 Name = Bengtsson, Mr. John Viktor Age = 26.0 Ticket = 347068
Index = 163 Name = Calic, Mr. Jovo Age = 17.0 Ticket = 315093
Index = 164 Name = Panula, Master. Eino Viljami Age = 1.0 Ticket = 3101295
Index = 165 Name = Goldsmith, Master. Frank John William "Frankie" Age = 9.0 Ticket = 363291
Index = 166 Name = Chibnall, Mrs. (Edith Martha Bowerman) Age = nan Ticket = 113505
Index = 167 Name = Skoog, Mrs. William (Anna Bernhardina Karlsson) Age = 45.0 Ticket = 347088
Index = 168 Name = Baumann, Mr. John D Age = nan Ticket = PC 17318
Index = 169 Name = Ling, Mr. Lee Age = 28.0 Ticket = 1601
Index = 170 Name = Van der hoef, Mr. Wyckoff Age = 61.0 Ticket = 111240
Index = 171 Name = Rice, Master. Arthur Age = 4.0 Ticket = 382652
Index = 172 Name = Johnson, Miss. Eleanor Ileen Age = 1.0 Ticket = 347742
Index = 173 Name = Sivola, Mr. Antti Wilhelm Age = 21.0 Ticket = STON/O 2. 3101280
Index = 174 Name = Smith, Mr. James Clinch Age = 56.0 Ticket = 17764
Index = 175 Name = Klasen, Mr. Klas Albin Age = 18.0 Ticket = 350404
Index = 176 Name = Lefebre, Master. Henry Forbes Age = nan Ticket = 4133
Index = 177 Name = Isham, Miss. Ann Elizabeth Age = 50.0 Ticket = PC 17595
Index = 178 Name = Hale, Mr. Reginald Age = 30.0 Ticket = 250653
Index = 179 Name = Leonard, Mr. Lionel Age = 36.0 Ticket = LINE
Index = 180 Name = Sage, Miss. Constance Gladys Age = nan Ticket = CA. 2343
Index = 181 Name = Pernot, Mr. Rene Age = nan Ticket = SC/PARIS 2131
Index = 182 Name = Asplund, Master. Clarence Gustaf Hugo Age = 9.0 Ticket = 347077
Index = 183 Name = Becker, Master. Richard F Age = 1.0 Ticket = 230136
Index = 184 Name = Kink-Heilmann, Miss. Luise Gretchen Age = 4.0 Ticket = 315153
Index = 185 Name = Rood, Mr. Hugh Roscoe Age = nan Ticket = 113767
Index = 186 Name = O'Brien, Mrs. Thomas (Johanna "Hannah" Godfrey) Age = nan Ticket = 370365
Index = 187 Name = Romaine, Mr. Charles Hallace ("Mr C Rolmane") Age = 45.0 Ticket = 111428
Index = 188 Name = Bourke, Mr. John Age = 40.0 Ticket = 364849
Index = 189 Name = Turcin, Mr. Stjepan Age = 36.0 Ticket = 349247
Index = 190 Name = Pinsky, Mrs. (Rosa) Age = 32.0 Ticket = 234604
Index = 191 Name = Carbines, Mr. William Age = 19.0 Ticket = 28424
Index = 192 Name = Andersen-Jensen, Miss. Carla Christine Nielsine Age = 19.0 Ticket = 350046
Index = 193 Name = Navratil, Master. Michel M Age = 3.0 Ticket = 230080
Index = 194 Name = Brown, Mrs. James Joseph (Margaret Tobin) Age = 44.0 Ticket = PC 17610
Index = 195 Name = Lurette, Miss. Elise Age = 58.0 Ticket = PC 17569
Index = 196 Name = Mernagh, Mr. Robert Age = nan Ticket = 368703
Index = 197 Name = Olsen, Mr. Karl Siegwart Andreas Age = 42.0 Ticket = 4579
Index = 198 Name = Madigan, Miss. Margaret "Maggie" Age = nan Ticket = 370370
Index = 199 Name = Yrois, Miss. Henriette ("Mrs Harbeck") Age = 24.0 Ticket = 248747
Index = 200 Name = Vande Walle, Mr. Nestor Cyriel Age = 28.0 Ticket = 345770
Index = 201 Name = Sage, Mr. Frederick Age = nan Ticket = CA. 2343
Index = 202 Name = Johanson, Mr. Jakob Alfred Age = 34.0 Ticket = 3101264
Index = 203 Name = Youseff, Mr. Gerious Age = 45.5 Ticket = 2628
Index = 204 Name = Cohen, Mr. Gurshon "Gus" Age = 18.0 Ticket = A/5 3540
Index = 205 Name = Strom, Miss. Telma Matilda Age = 2.0 Ticket = 347054
Index = 206 Name = Backstrom, Mr. Karl Alfred Age = 32.0 Ticket = 3101278
Index = 207 Name = Albimona, Mr. Nassef Cassem Age = 26.0 Ticket = 2699
Index = 208 Name = Carr, Miss. Helen "Ellen" Age = 16.0 Ticket = 367231
Index = 209 Name = Blank, Mr. Henry Age = 40.0 Ticket = 112277
Index = 210 Name = Ali, Mr. Ahmed Age = 24.0 Ticket = SOTON/O.Q. 3101311
Index = 211 Name = Cameron, Miss. Clear Annie Age = 35.0 Ticket = F.C.C. 13528
Index = 212 Name = Perkin, Mr. John Henry Age = 22.0 Ticket = A/5 21174
Index = 213 Name = Givard, Mr. Hans Kristensen Age = 30.0 Ticket = 250646
Index = 214 Name = Kiernan, Mr. Philip Age = nan Ticket = 367229
Index = 215 Name = Newell, Miss. Madeleine Age = 31.0 Ticket = 35273
Index = 216 Name = Honkanen, Miss. Eliina Age = 27.0 Ticket = STON/O2. 3101283
Index = 217 Name = Jacobsohn, Mr. Sidney Samuel Age = 42.0 Ticket = 243847
Index = 218 Name = Bazzani, Miss. Albina Age = 32.0 Ticket = 11813
Index = 219 Name = Harris, Mr. Walter Age = 30.0 Ticket = W/C 14208
Index = 220 Name = Sunderland, Mr. Victor Francis Age = 16.0 Ticket = SOTON/OQ 392089
Index = 221 Name = Bracken, Mr. James H Age = 27.0 Ticket = 220367
Index = 222 Name = Green, Mr. George Henry Age = 51.0 Ticket = 21440
Index = 223 Name = Nenkoff, Mr. Christo Age = nan Ticket = 349234
Index = 224 Name = Hoyt, Mr. Frederick Maxfield Age = 38.0 Ticket = 19943
Index = 225 Name = Berglund, Mr. Karl Ivar Sven Age = 22.0 Ticket = PP 4348
Index = 226 Name = Mellors, Mr. William John Age = 19.0 Ticket = SW/PP 751
Index = 227 Name = Lovell, Mr. John Hall ("Henry") Age = 20.5 Ticket = A/5 21173
Index = 228 Name = Fahlstrom, Mr. Arne Jonas Age = 18.0 Ticket = 236171
Index = 229 Name = Lefebre, Miss. Mathilde Age = nan Ticket = 4133
Index = 230 Name = Harris, Mrs. Henry Birkhardt (Irene Wallach) Age = 35.0 Ticket = 36973
Index = 231 Name = Larsson, Mr. Bengt Edvin Age = 29.0 Ticket = 347067
Index = 232 Name = Sjostedt, Mr. Ernst Adolf Age = 59.0 Ticket = 237442
Index = 233 Name = Asplund, Miss. Lillian Gertrud Age = 5.0 Ticket = 347077
Index = 234 Name = Leyson, Mr. Robert William Norman Age = 24.0 Ticket = C.A. 29566
Index = 235 Name = Harknett, Miss. Alice Phoebe Age = nan Ticket = W./C. 6609
Index = 236 Name = Hold, Mr. Stephen Age = 44.0 Ticket = 26707
Index = 237 Name = Collyer, Miss. Marjorie "Lottie" Age = 8.0 Ticket = C.A. 31921
Index = 238 Name = Pengelly, Mr. Frederick William Age = 19.0 Ticket = 28665
Index = 239 Name = Hunt, Mr. George Henry Age = 33.0 Ticket = SCO/W 1585
Index = 240 Name = Zabour, Miss. Thamine Age = nan Ticket = 2665
Index = 241 Name = Murphy, Miss. Katherine "Kate" Age = nan Ticket = 367230
Index = 242 Name = Coleridge, Mr. Reginald Charles Age = 29.0 Ticket = W./C. 14263
Index = 243 Name = Maenpaa, Mr. Matti Alexanteri Age = 22.0 Ticket = STON/O 2. 3101275
Index = 244 Name = Attalah, Mr. Sleiman Age = 30.0 Ticket = 2694
Index = 245 Name = Minahan, Dr. William Edward Age = 44.0 Ticket = 19928
Index = 246 Name = Lindahl, Miss. Agda Thorilda Viktoria Age = 25.0 Ticket = 347071
Index = 247 Name = Hamalainen, Mrs. William (Anna) Age = 24.0 Ticket = 250649
Index = 248 Name = Beckwith, Mr. Richard Leonard Age = 37.0 Ticket = 11751
Index = 249 Name = Carter, Rev. Ernest Courtenay Age = 54.0 Ticket = 244252
Index = 250 Name = Reed, Mr. James George Age = nan Ticket = 362316
Index = 251 Name = Strom, Mrs. Wilhelm (Elna Matilda Persson) Age = 29.0 Ticket = 347054
Index = 252 Name = Stead, Mr. William Thomas Age = 62.0 Ticket = 113514
Index = 253 Name = Lobb, Mr. William Arthur Age = 30.0 Ticket = A/5. 3336
Index = 254 Name = Rosblom, Mrs. Viktor (Helena Wilhelmina) Age = 41.0 Ticket = 370129
Index = 255 Name = Touma, Mrs. Darwis (Hanne Youssef Razi) Age = 29.0 Ticket = 2650
Index = 256 Name = Thorne, Mrs. Gertrude Maybelle Age = nan Ticket = PC 17585
Index = 257 Name = Cherry, Miss. Gladys Age = 30.0 Ticket = 110152
Index = 258 Name = Ward, Miss. Anna Age = 35.0 Ticket = PC 17755
Index = 259 Name = Parrish, Mrs. (Lutie Davis) Age = 50.0 Ticket = 230433
Index = 260 Name = Smith, Mr. Thomas Age = nan Ticket = 384461
Index = 261 Name = Asplund, Master. Edvin Rojj Felix Age = 3.0 Ticket = 347077
Index = 262 Name = Taussig, Mr. Emil Age = 52.0 Ticket = 110413
Index = 263 Name = Harrison, Mr. William Age = 40.0 Ticket = 112059
Index = 264 Name = Henry, Miss. Delia Age = nan Ticket = 382649
Index = 265 Name = Reeves, Mr. David Age = 36.0 Ticket = C.A. 17248
Index = 266 Name = Panula, Mr. Ernesti Arvid Age = 16.0 Ticket = 3101295

In [ ]:
#@title Traversing DataFrame rows

print("=====================\n")
print("\n\n DF Traversals: Row by Row")
print("Each ROW = Panda.Series Object")
print("=====================\n")

print("\n Remove the break to see the traversal of all rows")
print("\n\n1. DF Traversal: index method")
for index in df.index:  # for i in range(len(df)): will also work
    row_data = df.loc[index]
    print("Whole Row = \n",row_data)
    print("Row Type = ", type(row_data))
    name = df['Name'][index]  # Option 1
    name = df.loc[index, 'Name']  # Option 2
    name = df.iloc[index, 3] # Option 3

    age = df['Age'][index]
    age = df.loc[index, 'Age']

    ticket = df['Ticket'] [index]
    ticket = df.loc[index, 'Ticket']

    print(f"Index = {index} Name = {name} Age = {age} Ticket = {ticket}")
    break


print("\n\n2. DF Traversal: loc() method")
for index in range(len(df)):
    row_data = df.loc[index]  #
    print("Whole Row = \n",row_data)
    print("Row Type = ", type(row_data))
    name = df.loc[index, 'Name']  # selecting a single cell
    age = df.loc[index, 'Age'] # selecting a single cell
    ticket = df.loc[index, 'Ticket']  # selecting a single cell
    print(f"Index = {index} Name = {name} Age = {age} Ticket = {ticket}")
    break;

print("\n\n3. DF Traversal: iloc() method")
for index in range(len(df)):
    row_data = df.iloc[index]
    print("Whole Row = \n",row_data)
    print("Row Type = ", type(row_data))
    name = df.iloc[index, 3]
    age = df.iloc[index, 5]
    ticket = df.iloc[index, 8]
    print(f"Index = {index} Name = {name} Age = {age} Ticket = {ticket}")
    break;

'''iterrows() returns the iterator yielding each index value
   along with a series containing the data in each row.'''
print("\n\n4. DF Traversal: iterrows() method")
for index, row in df.iterrows():
    print("Whole Row = \n", row)
    print("Row Type = ", type(row))
    name = row['Name']
    age = row['Age']
    ticket = row['Ticket']
    print(f"Index = {index} Name = {name} Age = {age} Ticket = {ticket}")
    break;


'''itertuples() method will return an iterator yielding a named tuple for each row in the DataFrame.
   The first element of the tuple will be the row’s corresponding index value,
   while the remaining values are the row values.'''
print("\n\n5. DF Traversal: itertuples() method")
for row in df.itertuples():
    print("Whole Row = \n", row)
    print("Row Type = ", type(row))
    name = getattr(row, 'Name')
    age = getattr(row, 'Age')
    ticket = getattr(row, 'Ticket')
    print(f"Index = {index} Name = {name} Age = {age} Ticket = {ticket}")
    break;

=====================



 DF Traversals: Row by Row
Each ROW = Panda.Series Object
=====================


 Remove the break to see the traversal of all rows


1. DF Traversal: index method
Whole Row =
 PassengerId                           1
Survived                              0
Pclass                                3
Name            Braund, Mr. Owen Harris
Sex                                male
Age                                22.0
SibSp                                 1
Parch                                 0
Ticket                        A/5 21171
Fare                               7.25
Cabin                               NaN
Embarked                              S
passenger id                          1
Name: 0, dtype: object
Row Type =  <class 'pandas.core.series.Series'>
Index = 0 Name = Braund, Mr. Owen Harris Age = 22.0 Ticket = A/5 21171


2. DF Traversal: loc() method
Whole Row =
 PassengerId                           1
Survived                              0
Pclass                                3
Name            Braund, Mr. Owen Harris
Sex                                male
Age                                22.0
SibSp                                 1
Parch                                 0
Ticket                        A/5 21171
Fare                               7.25
Cabin                               NaN
Embarked                              S
passenger id                          1
Name: 0, dtype: object
Row Type =  <class 'pandas.core.series.Series'>
Index = 0 Name = Braund, Mr. Owen Harris Age = 22.0 Ticket = A/5 21171


3. DF Traversal: iloc() method
Whole Row =
 PassengerId                           1
Survived                              0
Pclass                                3
Name            Braund, Mr. Owen Harris
Sex                                male
Age                                22.0
SibSp                                 1
Parch                                 0
Ticket                        A/5 21171
Fare                               7.25
Cabin                               NaN
Embarked                              S
passenger id                          1
Name: 0, dtype: object
Row Type =  <class 'pandas.core.series.Series'>
Index = 0 Name = Braund, Mr. Owen Harris Age = 22.0 Ticket = A/5 21171


4. DF Traversal: iterrows() method
Whole Row =
 PassengerId                           1
Survived                              0
Pclass                                3
Name            Braund, Mr. Owen Harris
Sex                                male
Age                                22.0
SibSp                                 1
Parch                                 0
Ticket                        A/5 21171
Fare                               7.25
Cabin                               NaN
Embarked                              S
passenger id                          1
Name: 0, dtype: object
Row Type =  <class 'pandas.core.series.Series'>
Index = 0 Name = Braund, Mr. Owen Harris Age = 22.0 Ticket = A/5 21171


5. DF Traversal: itertuples() method
Whole Row =
 Pandas(Index=0, PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=nan, Embarked='S', _13=1)
Row Type =  <class 'pandas.core.frame.Pandas'>
Index = 0 Name = Braund, Mr. Owen Harris Age = 22.0 Ticket = A/5 21171

In [ ]:
#@title Traversing the DataFrame Columns

# iteritems is deprecated in newer versions of pandas, use items() instead

# print("\n\n7. DF Traversal: iteritems() method")
# for column, content in df.iteritems( ):
#

print("=====================\n")
print("\n\n DF Traversals: Column by Column")
print("Each Column = Panda.Series Object")
print("=====================\n")


print("\n Remove the break to see the traversal of all columns")
print("\n\n6. DF Traversal: items() method")
for column, content in df.items( ):
    column_name = column
    column_content = content
    print("column name type " + str(type(column_name)))
    print("column content type " + str(type(column_content)))
    print(f'Column Name: {column_name}')
    print(f'Column Content: {column_content}', sep='\n')   # printing all content
    print(f'Column Content: {column_content[:5]}', sep='\n') # printing the first 5 rows of data
    break



print("\n\n8. DF Traversal: iterating over the columns")
for column in df:
    column_content = df[column]
    print("column name type " + str(type(column)))
    print("column content type " + str(type(column_content)))
    print(f'Column Name: {column_name}')
    print(f'Column Content: {column_content.values}', sep='\n') # printing all content
    print(f'Column Content: {column_content[:5]}', sep='\n') # printing the first 5 rows of data
    break

=====================



 DF Traversals: Column by Column
Each Column = Panda.Series Object
=====================


 Remove the break to see the traversal of all columns


6. DF Traversal: items() method
column name type <class 'str'>
column content type <class 'pandas.core.series.Series'>
Column Name: PassengerId
Column Content: 0        1
1        2
2        3
3        4
4        5
      ...
886    887
887    888
888    889
889    890
890    891
Name: PassengerId, Length: 891, dtype: int64
Column Content: 0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64


8. DF Traversal: iterating over the columns
column name type <class 'str'>
column content type <class 'pandas.core.series.Series'>
Column Name: PassengerId
Column Content: [  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234
 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252
 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269 270
 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287 288
 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305 306
 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323 324
 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341 342
 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359 360
 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377 378
 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395 396
 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413 414
 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431 432
 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449 450
 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467 468
 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485 486
 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503 504
 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521 522
 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539 540
 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557 558
 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575 576
 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593 594
 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611 612
 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629 630
 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647 648
 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665 666
 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683 684
 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701 702
 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717 718 719 720
 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735 736 737 738
 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753 754 755 756
 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771 772 773 774
 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789 790 791 792
 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807 808 809 810
 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825 826 827 828
 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843 844 845 846
 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861 862 863 864
 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879 880 881 882
 883 884 885 886 887 888 889 890 891]
Column Content: 0    1
1    2
2    3
3    4
4    5
Name: PassengerId, dtype: int64

# Other ways of locating and filtering data

In [ ]:
#@title Boolean Indexing
# Example: Filter rows where passengers embarked at 'C'
df[df['Embarked'] == 'C']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,10
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,20
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,27
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,867
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,875
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,876
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,880
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890

In [ ]:
#@title Filtering: Single condition

# filtering
filter_condition = df['Age'] > 70
#display(df.loc[filter_condition])

# We can also create a new dataframe based on the filter
df2 = df.loc[filter_condition]
display(df2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,97
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q,117
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,494
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,631
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S,852

In [ ]:
#@title Filtering: multiple conditions
# Example: Passengers older than 60 and in Pclass 1

filtered_df = df[(df['Age'] > 60) & (df['Pclass'] == 1)]
display(filtered_df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C,55
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,97
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S,171
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S,253
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S,276
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,439
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S,457
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,494
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S,546
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S,556
625,626,0,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S,626
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S,631
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S,746
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN,830

In [ ]:
#@title Filtering based on a dynamic .query( )
# Example: Filter rows using a query to get passengers in Pclass 1 and aged over 30
df.query('Pclass == 1 and Age > 30 and Survived == 0')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,7
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,31
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S,36
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C,55
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.4750,C83,S,63
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.1750,E31,S,93
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C,97
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0000,C110,S,111
124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S,125
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1000,C123,S,138
155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,NaN,C,156
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S,171
174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C,175
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C,178
245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0000,C78,Q,246
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S,253
262,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.6500,E67,S,263
263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0000,B94,S,264
273,274,0,1,"Natsch, Mr. Charles H",male,37.0,0,1,PC 17596,29.7000,C118,C,274
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S,332
332,333,0,1,"Graham, Mr. George Edward",male,38.0,0,1,PC 17582,153.4625,C91,S,333
339,340,0,1,"Blackwell, Mr. Stephen Weart",male,45.0,0,0,113784,35.5000,T,S,340
434,435,0,1,"Silvey, Mr. William Baird",male,50.0,1,0,13507,55.9000,E44,S,435
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,439
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S,457
462,463,0,1,"Gee, Mr. Arthur H",male,47.0,0,0,111320,38.5000,E63,S,463
467,468,0,1,"Smart, Mr. John Montgomery",male,56.0,0,0,113792,26.5500,NaN,S,468
487,488,0,1,"Kent, Mr. Edward Austin",male,58.0,0,0,11771,29.7000,B37,C,488
492,493,0,1,"Molson, Mr. Harry Markland",male,55.0,0,0,113787,30.5000,C30,S,493
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,494
515,516,0,1,"Walker, Mr. William Anderson",male,47.0,0,0,36967,34.0208,D46,S,516
536,537,0,1,"Butt, Major. Archibald Willingham",male,45.0,0,0,113050,26.5500,B38,S,537
544,545,0,1,"Douglas, Mr. Walter Donald",male,50.0,1,0,PC 17761,106.4250,C86,C,545
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S,546
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S,556
583,584,0,1,"Ross, Mr. John Hugo",male,36.0,0,0,13049,40.1250,A10,C,584
625,626,0,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S,626
659,660,0,1,"Newell, Mr. Arthur Webster",male,58.0,0,2,35273,113.2750,D48,C,660
662,663,0,1,"Colley, Mr. Edward Pomeroy",male,47.0,0,0,5727,25.5875,E58,S,663
671,672,0,1,"Davidson, Mr. Thornton",male,31.0,1,0,F.C. 12750,52.0000,B71,S,672
694,695,0,1,"Weir, Col. John",male,60.0,0,0,113800,26.5500,NaN,S,695
698,699,0,1,"Thayer, Mr. John Borland",male,49.0,1,1,17421,110.8833,C68,C,699
741,742,0,1,"Cavendish, Mr. Tyrell William",male,36.0,1,0,19877,78.8500,C46,S,742
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S,746
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.0,0,0,PC 17593,79.2000,B82 B84,C,790
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.0,0,0,112050,0.0000,A36,S,807
822,823,0,1,"Reuchlin, Jonkheer. John George",male,38.0,0,0,19972,0.0000,NaN,S,823
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,868
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,873

In [ ]:
#@title Filtering based on a custom function
# Sample data
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Score': [85, 90, 78]
}
df = pd.DataFrame(data)

# Custom function to filter rows
def filter_high_scores(row):
    return row['Score'] > 85

# Apply the function and filter rows
filtered_df = df[df.apply(filter_high_scores, axis=1)]

print(filtered_df)

NameError: name 'pd' is not defined

In [ ]:
#@title Accessing with isin
# Example: Filter rows where Pclass is 1 or 3
df[df['Pclass'].isin([1, 3])]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,3
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,4
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,886
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,888
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,889
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,890
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,891

In [ ]:
#@title Accessing some Random Rows
# Example: Select 5 random rows
df.sample(5)
df.sample(5, axis = 0)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,passenger id
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,439
605,606,0,3,"Lindell, Mr. Edvard Bengtsson",male,36.0,1,0,349910,15.5500,NaN,S,606
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C,178
773,774,0,3,"Elias, Mr. Dibo",male,NaN,0,0,2674,7.2250,NaN,C,774
56,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S,57

In [ ]:
#@title Accessing some Random Columns
#Example: Select 5 random columns
df.sample(3, axis = 1)

     passenger id  SibSp  Pclass
0               1      1       3
1               2      1       1
2               3      0       3
3               4      1       1
4               5      0       3
..            ...    ...     ...
886           887      0       2
887           888      0       1
888           889      1       3
889           890      0       1
890           891      0       3

[891 rows x 3 columns]